body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Use flex grow to make these accomodate any number of squares*/
.container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
}

.column,
.row {
    flex-grow: 1;
    width: 5%;
    aspect-ratio: 1;
    border: 1px solid black;
}

.blackPen {
    background-color: black;
}